<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Person</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1 class="center-align">Add new Subscriber</h1>

<form id="addForm" th:action="@{/addSubscriber}"
      th:object="${addForm}" method="POST">
    <div class="row">
        <div class="input-field col s6 offset-s3">
            <i class="material-icons prefix">account_circle</i>
            <input id="name" type="text" th:field="*{name}" class="validate"/>
            <label for="name">Subscriber name</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s4">
            <i class="material-icons prefix">phone</i>
            <input id="phone1" type="text" th:field="*{phone1}" class="validate"/>
            <label for="phone1">First phone</label>
        </div>
        <div class="input-field col s4">
            <i class="material-icons prefix">phone</i>
            <input id="phone2" type="text" th:field="*{phone2}" class="validate"/>
            <label for="phone2">Second phone</label>
        </div>
        <div class="input-field col s4">
            <i class="material-icons prefix">phone</i>
            <input id="phone3" type="text" th:field="*{phone3}" class="validate"/>
            <label for="phone3">Third phone</label>
        </div>
    </div>
    <input type="submit" style="visibility: hidden;"/>
</form>


<!-- Check if errorMessage is not null and not empty -->
<div class="row">
    <div class="col s8 offset-s2">
        <div class="card-panel white-text teal lighten-2" th:if="${errorMessage}" th:utext="${errorMessage}">
        </div>
    </div>
</div>

<div class="row">
    <div class="fixed-action-btn left-align col s2">
        <a id="backButton" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</a>
    </div>
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        $("#backButton").click(function () {
            $(location).attr('href', "/index");
        });

        $("#addForm").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 7
                },
                phone1: {
                    required: true,
                    minlength: 11
                }
            },
            //For custom messages
            messages: {
                name:{
                    required: "Enter subscriber name",
                    minlength: "Enter at least 7 characters"
                }
            },
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>
</body>
</html>